{%extends 'base.html'%}

{%block content%}

{%load static%}

<div class="album mt-4"> 

    <div class="row align-items-center justify-content-between">
      <div class="col-6 mt-6" style="text-align: center;">

        <div class="card" style="width: 30rem; text-align: center;" >
            <img src="{%static 'images/lou.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-text">The Last of Us Remastered Standard Edition Sony PS4 Físico</h2>
              <h3 style="text-align: center;"> $23.900</h3>
            </div>
        </div>

      </div>
     
    <div class="col-6 mt-6">

          <h1>Sinopsis</h1>
              <p>"The Last of Us" sigue a Joel y Ellie, dos supervivientes en un mundo post-apocalíptico lleno de peligros,
              mientras buscan una cura para una pandemia que ha convertido a la mayoría de la población en monstruos
              caníbales. En su peligroso viaje, se enfrentan a bandas de saqueadores, infectados y decisiones difíciles que
              pondrán a prueba su moralidad y supervivencia, desarrollando un vínculo cercano y protector que los convierte
              en una familia elegida el uno para el otro.</p>
          <ul class="ui-vpp-highlighted-specs__features-list">
            <li
              class="ui-vpp-highlighted-specs__features-list-item ui-pdp-color--BLACK ui-pdp-size--XSMALL ui-pdp-family--REGULAR">
              Clasificación M.</li>
            <li
              class="ui-vpp-highlighted-specs__features-list-item ui-pdp-color--BLACK ui-pdp-size--XSMALL ui-pdp-family--REGULAR">
              Año de lanzamiento: 2014.</li>
            <li
              class="ui-vpp-highlighted-specs__features-list-item ui-pdp-color--BLACK ui-pdp-size--XSMALL ui-pdp-family--REGULAR">
              Desarrollado por Naughty Dog.</li>
            <li
              class="ui-vpp-highlighted-specs__features-list-item ui-pdp-color--BLACK ui-pdp-size--XSMALL ui-pdp-family--REGULAR">
              Género: acción y aventura.</li>
            <li
              class="ui-vpp-highlighted-specs__features-list-item ui-pdp-color--BLACK ui-pdp-size--XSMALL ui-pdp-family--REGULAR">
              Se encuentra disponible para jugar online.</li>
            <li
              class="ui-vpp-highlighted-specs__features-list-item ui-pdp-color--BLACK ui-pdp-size--XSMALL ui-pdp-family--REGULAR">
              Es apto para múltiples jugadores.</li>
            <li
              class="ui-vpp-highlighted-specs__features-list-item ui-pdp-color--BLACK ui-pdp-size--XSMALL ui-pdp-family--REGULAR">
              Entretenimiento digital</li>
            <li
              class="ui-vpp-highlighted-specs__features-list-item ui-pdp-color--BLACK ui-pdp-size--XSMALL ui-pdp-family--REGULAR">
              Diversión asegurada.</li>
            
            </ul>  
      </div>
      <hr>
      <div class="container col-12 mt-5" style="text-align: center;">  
        <h1 class="mb-5"> Trailer Videojuego</h1>
        <div id="player"></div>

      </div>
   

    </div> 

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="{%static 'js/ytapi.js' %}"></script>
{%endblock%}